
<div class="map-nav">
  <a href="#" title="previous post" class="button">&lt; Previous</a>
  <a href="#" title="next post" class="button">Next &gt;</a>
  {{!-- <a href="/index.html" title="homepage" class="button">Homepage</a> --}}
</div>
