
<div class="map-nav">
  {{#if next}}
    {{#link-to 'destination' previous class='button'}} &lt; previous {{/link-to}}
    {{#link-to 'destination' next class='button'}} next &gt;{{/link-to}}
    {{!-- {{#link-to 'destinations' class='button'}} destinations {{/link-to}} --}}
    <a href="https://www.corylogan.com" title="homepage" class="button">homepage</a>
  {{/if}}
</div>
